<ul>
  <% for (let error of dependency.errors) { %>
  <li><%= error.msg %></li>
  <% } %>
</ul>

<form action="<%= dependency.url %>" method="POST">
  <h1><%= title %></h1>
  <label for="name">Name: </label>
  <input type="text" id="name" name="name" />
  <div id="ingredientInput">
    <button id="addIngredient">Add Ingredient</button>
  </div>
  <button>Submit</button>
</form>

<script>
  const ingredientInput = document.getElementById("ingredientInput");
  const addIngredient = document.getElementById("addIngredient");
  let index;
  dependency.ingredients.length > 0
    ? (index = dependency.ingredients.length)
    : (index = 0);

  addIngredient.addEventListener("click", (e) => {
    e.preventDefault();
    let div = document.createElement("div");
    div.id = `${index}`;
    ingredientInput.appendChild(div);
    let select = document.createElement("select");
    for (let food in dependency.foods) {
      let opt = document.createElement("option");
      opt.value = food.name;
      opt.textContent = food.name + " (" + food.measure.name + ")";
      let input = document.createElement("Input");
      input.type = "number";
      div.appendChild(opt);
      div.appendChild(input);
    }
  });
</script>
