<ul>
  <% for (let error of dependency.errors) { %>
  <li><%= error.msg %></li>
  <% } %>
</ul>

<form action="<%= dependency.url %>" method="POST">
  <h1><%= title %></h1>
  <label for="username">Username: </label>
  <input type="text" id="username" name="username" />
  <label for="password">Password: </label>
  <input type="password" id="password" name="password" />
  <% if (title == 'Sign Up') { %>
  <label for="confirmPassword">Confirm Password: </label>
  <input type="password" id="confirmPassword" name="confirmPassword" />
  <% } %>
  <button>Submit</button>
</form>
